img#fake-image,
.jcrop-holder,
.jcrop-holder img,
.jcrop-tracker {
	width: 100% !important;
	height: 100% !important;
	max-width: 100% !important;
	max-height: 100% !important;
	min-width: 100% !important;
	min-height: 100% !important;
}

img#fake-image {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.jcrop-holder {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 2147483647 !important;
}
.black-box-toaster-feedback {
	position: fixed;
	bottom: 30px;
	left: 50px;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;
	font-size: 16px;
	transition: 0.3s ease all;
	opacity: 0;
	transform: translateY(100%);
	color: #000;
	display: flex;
	z-index: 99999999999;
	align-items: center;
	box-shadow: rgb(165 165 165) 0px 2px 5px;
}
.black-box-toaster-feedback.active {
	opacity: 1;
	transform: translateY(0);
	transition: 0.3s ease all;
}
div.jcrop-holder > div:first-child {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgb(230, 230, 230);
}

.black-box-history-link {
	margin-left: 10px;
	font-size: 13px;
	color: #5f75f3 !important;
	transition: 0.3s ease all;
}
.black-box-history-link:hover {
	text-decoration: none;
	color: #224ae6 !important;
}
